body{
    text-align:center;
    background: rgb(50, 49, 49);

}

.quadrado {
    text-align: center;
    width: 50px;
    background: rgb(201, 208, 241);
    display: inline-block;
    padding:40px;
    font-size: 60px;
    cursor: pointer;
}

.jogador, .vencedor {
    font-size:38px;
    margin-top:18px;
}

button{
    margin-top: 18px;
    width: 108px;
    height: 38px;
    background: rgb(201, 208, 241);
    cursor:pointer;
}